<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

    <h1>Admin</h1>

    <button onclick="load()">Show appointments</button>
    <div id="out"></div>

    <hr>

    <select id="patient"></select><br><br>
    <input id="doctor_id" placeholder="Doctor ID"><br><br>
    <input id="diagnosis" placeholder="Diagnosis"><br><br>

    <button onclick="save()">Save</button>

    <script>

        async function load() {
            let r = await fetch("/all_appointments");
            let d = await r.json();

            out.innerHTML = "";

            d.forEach(x => {
                out.innerHTML += `
            <p>
            👩🏻‍⚕️{x.doctor} (🩺{x.specialization}) кабинет 🚪{x.cabinet}<br>
            🙍🏻‍♀️{x.patient} (📱{x.iin})<br>
            📆{x.date} ⏱️{x.time}
            </p><hr>`;
            });
        }

        async function loadPatients() {
            let r = await fetch("/patients");
            let d = await r.json();

            patient.innerHTML = "";
            d.forEach(p => {
                patient.innerHTML += `<option value="${p.id}">
            ${p.full_name} (${p.iin})
            </option>`;
            });
        }

        async function save() {
            await fetch("/add_record", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    doctor_id: doctor_id.value,
                    patient_id: patient.value,
                    diagnosis: diagnosis.value
                })
            });

            alert("Saved");
        }

        window.onload = loadPatients;

    </script>

</body>
</html>
