<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hospital Booking</title>
</head>
<body>

<h1>Booking</h1>

<select id="district" onchange="loadDoctors()"></select><br><br>
<select id="doctor" onchange="loadTime()"></select><br><br>

<input id="name" placeholder="Full name">
<input id="iin" placeholder="IIN">
<input id="phone" placeholder="Phone">

<select id="gender">
    <option value="M">M</option>
    <option value="F">F</option>
</select>

<br><br>

<input type="date" id="date" onchange="loadTime()"><br><br>

<select id="time"></select><br><br>

<button onclick="book()">Book</button>

<script>

async function loadDistricts() {
    let res = await fetch("/districts");
    let data = await res.json();

    let district = document.getElementById("district");
    district.innerHTML = "";

    data.forEach(x => {
        district.innerHTML += `<option value="${x.id}">${x.name} — ${x.address}</option>`;
    });

    loadDoctors();
}

async function loadDoctors() {
    let district = document.getElementById("district").value;

    let res = await fetch("/doctors/" + district);
    let data = await res.json();

    let doctor = document.getElementById("doctor");
    doctor.innerHTML = "";

    data.forEach(x => {
        doctor.innerHTML += `<option value="${x.id}">
        ${x.full_name} (${x.specialization}) ${x.cabinet}
        </option>`;
    });

    loadTime();
}

async function loadTime() {
    let doctor = document.getElementById("doctor").value;
    let date = document.getElementById("date").value;

    if (!doctor || !date) return;

    let res = await fetch(`/available/${doctor}/${date}`);
    let data = await res.json();

    let time = document.getElementById("time");
    time.innerHTML = "";

    data.forEach(t => {
        time.innerHTML += `<option value="${t}">${t}</option>`;
    });
}

async function book() {

    let name = document.getElementById("name").value;
    let iin = document.getElementById("iin").value;
    let phone = document.getElementById("phone").value;
    let gender = document.getElementById("gender").value;
    let doctor = document.getElementById("doctor").value;
    let date = document.getElementById("date").value;
    let time = document.getElementById("time").value;

    console.log({name, iin, phone, gender, doctor, date, time});

    if (!name || !iin || !phone || !doctor || !date || !time) {
        alert("❌ Заполни все поля и выбери время!");
        return;
    }

    let res = await fetch("/add", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({name, iin, phone, gender, doctor_id: doctor, date, time})
    });

    let text = await res.text();

    if (text === "OK") alert("✅ Успешно!");
    else alert("❌ Ошибка: " + text);

    loadTime();
}

window.onload = loadDistricts;

</script>

</body>
</html>
