<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hospital Booking</title>
</head>
<body>

    <h1>Booking</h1>

    <select id="district" onchange="loadDoctors()"></select><br><br>
    <select id="doctor" onchange="loadTime()"></select><br><br>

    <input id="name" placeholder="Full name">
    <input id="iin" placeholder="IIN">
    <input id="phone" placeholder="Phone">

    <select id="gender">
        <option>M</option>
        <option>F</option>
    </select>

    <br><br>

    <input type="date" id="date" onchange="loadTime()"><br><br>

    <select id="time"></select><br><br>

    <button onclick="book()">Book</button>

    <hr>

    <h2>My Medical Records</h2>

    <input id="search_iin">
    <button onclick="loadRecords()">Show</button>

    <div id="records"></div>

    <script>

async function loadDistricts() {
    let r = await fetch("/districts");
    let d = await r.json();

    district.innerHTML = "";

    d.forEach(x => {
        district.innerHTML += `
        <option value="${x.id}">
        ${x.name} — ${x.address || "адрес не указан"}
        </option>
        `;
    });

    loadDoctors();
}

async function loadDoctors() {
    let r = await fetch("/doctors/" + district.value);
    let d = await r.json();

    doctor.innerHTML = "";

    d.forEach(x => {
        doctor.innerHTML += `
        <option value="${x.id}">
        ${x.full_name} (${x.specialization}) кабинет ${x.cabinet}
        </option>
        `;
    });

    loadTime();
}

async function loadTime() {
    if (!date.value) return;

    let r = await fetch(`/available/${doctor.value}/${date.value}`);
    let d = await r.json();

    time.innerHTML = "";

    d.forEach(x => {
        time.innerHTML += `<option>${x}</option>`;
    });
}

async function book() {

    if (!name.value || !iin.value || !phone.value || !date.value) {
        alert("Введите все данные!");
        return;
    }

    let res = await fetch("/add", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({
            name: name.value,
            iin: iin.value,
            phone: phone.value,
            gender: gender.value,
            doctor_id: parseInt(doctor.value),
            date: date.value,
            time: time.value
        })
    });

    let text = await res.text();

    if (text === "TIME_BUSY") {
        alert("❌ Занято!");
        return;
    }

    if (text === "WEEKEND") {
        alert("❌ Только будни!");
        return;
    }

    if (text === "ERROR") {
        alert("❌ Ошибка!");
        return;
    }

    alert("✅ Записано!");
    loadTime();
}

async function loadRecords() {
    let r = await fetch("/records_by_iin/" + search_iin.value);
    let d = await r.json();

    records.innerHTML = "";

    d.forEach(x => {
        records.innerHTML += `
        <p>
        Врач: ${x.doctor}<br>
        Диагноз: ${x.diagnosis}
        </p>
        `;
    });
}

window.onload = loadDistricts;

    </script>

</body>
</html>
